@using Website.ChatSignalR.Models
@{
    ViewBag.Title = "SignalRChat";
    var cookieCustomerId = System.Web.HttpContext.Current.Request.Cookies.Get(AppConstants.COOKIE_CHAT_CUSTOMERID)?.Value;  // Response.Cookies.Get(AppConstants.COOKIE_chatHub_CUSTOMERID)?.Value;
}

<h2>SignalRChat - <span id="ccc">'@cookieCustomerId'</span></h2>
<div id="container1">
    <div class="panel panel-default">
        <div class="panel-heading">SignalR Chat</div>
        <div class="panel-body">
            <div class="col-md-9 col-sm-9 col-xs-8">
                <div id="chatformbox" style="min-height: 100px">Please select user to begin chat</div>
            </div>
            <div class="col-md-3 col-sm-9 col-xs-4">
                <table class="table table-bordered table-striped" id="onlineusers">
                    <tr>
                        <th><b>ONLINE USERS</b></th>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.1.min.js")
    @Scripts.Render("/signalr/hubs")
    <script>

        var _chatHubCustomerId = "@cookieCustomerId",
            _selectedCustomerId = null,
            _chatHub = null;

        $(function () {
            //showModalUserNickName();
            startChatHub();
        });

        var domMethods = {
            appendNewOnlineUser: function (id, name, lastMessage, self) {
                var html = '';
                if (self === true) {
                    html = '<tr data-id=' + id + '>' +
                                '<td>' + '<span class="border" style="color:green">You: ' + name + '</span>' + '</td>' +
                                '<p>' + lastMessage + '</p>' +
                            '</tr>';
                } else {
                    html = '<tr data-id=' + id + '>' +
                                '<td>' + '<a href="#" class="border" onclick="domMethods.loadConversationMessages(' + id + ')">' + name + '</a>' + '</td>' +
                                '<p>' + lastMessage + '</p>' +
                            '</tr>';
                }

                if ($('#onlineusers').find('tr[data-id=' + id + ']').length > 0) {
                    console.log('multi connections in multi tabs');
                } else {
                    $('#onlineusers').append(html);
                }
            },
            removeOnlineUser: function (id, name) {
                //$('#onlineusers div').remove(":contains('" + name + "')");
                $('#onlineusers tr[data-id=' + id + ']').remove();
            },
            //appendSelfOnlineUser: function (id, name) {
            //},
            appendNewMessageToChatLog: function (name, message) {
                $('#chatlog').append('<div class="border"><span style="color:orange">' + name + '</span>: ' + message + '</div>');
            },
            notifyNewOtherJoining: function (id, name) {
                $('#chatlog').append('<div ><i>' + name + ' joins the conversation</i></div>');
            },
            notifyUserLeaving: function () {
                $('#chatlog').append('<div ><i>' + name + ' leaves the conversation</i></div>');
            },
            loadConversationMessages: function (toId, p) {
                _selectedCustomerId = toId;
                $.ajax({
                    //url: '/chatroom/LoadConversationMessages',
                    url: '/chatroom/ChatFormBox',
                    data: {
                        customerId: _chatHubCustomerId,
                        toCustomerId: toId,
                        p: p,
                    },
                    beforeSend: function () {
                        $('#chatformbox').html('<img src="https://s-media-cache-ak0.pinimg.com/originals/01/8d/2a/018d2ac351d2f2de9b77e870f29894e1.gif" alt="Alternate Text" style="width: 100%" />');
                    },
                    success: function (data) {
                        $('#chatformbox').html(data);

                        // remove badge
                        $('#onlineusers tr[data-id=' + toId + ']')
                            .find('.badge')
                            .remove();
                        debugger;

                        $('#btnsend').click(function () {
                            _chatHub.server.sendToSpecific($('#message').val(), _selectedCustomerId);
                            // Clear text box and reset focus for next comment.
                            $('#message').val('').focus();
                        });

                        // register event load more messages
                        $('a.btn_loadmore').click(function (e) {
                            e.preventDefault();
                            var p = $(this).data('next-page');
                            domMethods.loadConversationMessages(toId, p);
                        });
                    }
                });
            }
        }

        function startChatHub() {
            _chatHub = $.connection.chatHub;

            // Get the user name.
            $('#nickname').val($('#nick').val());
            _chatHub.client.differentName = function (name) {
                debugger;
                //showModalUserNickName();
                return false;
                // Prompts for different user name
                $('#nickname').val($('#nick').val());
                //_chatHub.server.notify($('#nickname').val(), $.connection.hub.id);
            };

            _chatHub.client.online = function (id, name, lastMessage) {
                // Update list of users
                if (id == _chatHubCustomerId) // (name == $('#nickname').val())
                    domMethods.appendNewOnlineUser(id, name, '', true);
                else {
                    domMethods.appendNewOnlineUser(id, name, lastMessage);
                }
            };

            _chatHub.client.enters = function (id, name) {
                domMethods.notifyNewOtherJoining(id, name);
                //$("#users").append('<option value="' + id + '">' + name + '</option>');
                domMethods.appendNewOnlineUser(id, name);
            };
            // Create a function that the hub can call to broadcast chat messages.
            _chatHub.client.broadcastMessage = function (fromId, fromName, message) {

                if ($('#chatlog').length > 0) {
                    //Interpret smileys
                    message = message.replace(":)", "<img src=\"/images/smile.gif\" class=\"smileys\" />");
                    message = message.replace(":D", "<img src=\"/images/laugh.gif\" class=\"smileys\" />");
                    message = message.replace(":o", "<img src=\"/images/cool.gif\" class=\"smileys\" />");

                    //display the message
                    domMethods.appendNewMessageToChatLog(fromName, message);
                } else {
                    var $ct_badge = $('#onlineusers tr[data-id=' + fromId + ']').find('.border');
                    var $badge = $ct_badge.find('.badge');

                    if ($badge.length > 0) {
                        var curVal = parseInt($badge.text());
                        $badge.text(++curVal);
                    } else {
                        $ct_badge.append('<i class="badge badge-danger">' + 1 + '</i>');
                    }
                }
            };

            _chatHub.client.disconnected = function (id, name) {
                //Calls when someone leaves the page
                domMethods.notifyUserLeaving(id, name);
                domMethods.removeOnlineUser(id, name);
                //$("#users option").remove(":contains('" + name + "')");
            }

            _chatHub.client.selfDisconnected = function (id, name) {
                alert('This connection is disconnected, please reload page to continue');
            }

            _chatHub.client.showErrorMessage = function (errMsg) {
                alert(errMsg);
            }

            // Start the connection.
            $.connection.hub.start().done(function () {
                //Calls the notify method of the server
                //_chatHub.server.notify($('#nickname').val(), $.connection.hub.id);
                //_chatHub.server.notify();

                //$('#btnsend').click(function () {
                //    //if ($("#users").val() == "All") {
                //    //    // Call the Send method on the hub.
                //    //    _chatHub.server.send($('#nickname').val(), $('#message').val());
                //    //}
                //    //else {
                //    //    _chatHub.server.sendToSpecific($('#nickname').val(), $('#message').val(), $("#users").val());
                //    //}

                //    _chatHub.server.sendToSpecific($('#message').val(), _selectedCustomerId);

                //    // Clear text box and reset focus for next comment.
                //    $('#message').val('').focus();
                //});

            });
        }

    </script>
}