################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Website.ChatSignalR/bin
/Website.ChatSignalR/obj
